html{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #185a9d, #43cea2) no-repeat fixed;

    overflow-x: hidden;
    overflow-y: auto;
}

body{
    margin: auto;
    width: 100%;
    height: 99%;

    font-family: clean-sans;
}

.mainHeader{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 95%;
    min-width: 50em;
    margin: auto;
    min-height: 10%;
    height: 10em;

    padding: 10px;

    position: sticky;
    top: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    backdrop-filter: blur(10px);

    overflow: hidden;
}

footer{
    height: 12%;
    min-height: 10%;

    margin: 10px auto auto;
    width: 93%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    overflow: hidden;
}

.mainSection{
    margin: 10px auto auto;
    width: 70%;
    min-height: 75%;
    height: fit-content;
    background-color: rgba(214, 214, 214, 0.7);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow:hidden;
    padding: 5px;
}

.albumContent{
    /*border: black 1px solid;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    min-height: 308px;
}

.groupContent{
    /*border: 1px black dotted;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    justify-content: left;
    margin-bottom: 5px;
    min-height: 308px;
}

.contentHeader{
    /*border: black 1px solid;*/
    color:whitesmoke;
    text-align: center;
    vertical-align: center;
    padding: 1px;
    border-radius: 10px;
    background: #2b2b2b;
    min-width: 40%;
    width: 90%;
    min-height: 10%;
    height: 3em;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    margin:auto;
    margin-bottom: 5px;
}

.contentHeader h1{
    margin: 10px;
}

/*---Section recherche/navigation---*/

.researchSection{
    /*--Taille--*/
    width: 60%;
    min-width: 30em;
    /*min-height: 50%;
    max-height: 80%;*/
    height: 95%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;

    /*--border--*/
    /*border: black 1px dotted;*/
    border-radius: 0.5em;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.025);

    overflow: hidden;
}

.transparentFieldSet{
    margin: auto;
    text-align: center;
    border: none;
}

.researchInput{
    margin: auto;

    /*--Position--*/
    position: relative;

    /*--Taille--*/
    min-height: 2.5em;
    height: 2.5em;
    width: 70%;
    min-width: 10em;
    /*--Border--*/

}

.researchSubmit{
    margin: auto;

    /*--Position--*/
    position: relative;

    min-height: 2.5em;
    height: 2.5em;
    width: 10em;
}

.randomSubmit{
    margin: auto;
    position: relative;

    min-height: 2.5em;
    height:2.5em;
    width: 20em;
}

/*---UserSection---*/
.userSection{
    /*border: black 1px dotted;*/
    width: 25em;
    display: flex;
    justify-content: center;
    padding: 5px;

    border-radius: 0.5em;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.025);

    overflow: hidden;
}

.userSection image{
    display: block;
}

/*--LogoSection--*/
.logoSection{
    /*border: black 1px dotted;*/
    width: 25em;
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.025);

    overflow: hidden;
}

.logoSection image{
    display: block;
}

/*---GenericCard---*/
.Card{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 10px;
    padding: 10px;

    width: 30em;
    height: 15em;

    /*border: black 1px solid;*/
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    background-image: linear-gradient(white, whitesmoke);
}

.Card:hover{
    background-image: linear-gradient(white, rgb(2,170,176));
}

.CardFlip{
    animation-name: flip;
    animation-duration: 1s;
    backface-visibility: hidden;
}

@keyframes flip{
    from{transform: rotateX(180deg);}
    to{transform: rotateX(0deg);}
}

/*---AlbumCard--*/
.albumCard{
    justify-content: space-evenly;

    margin: 5px;
    padding: 5px;

    width: 27em;
    height: 15em;
}

.albumCard-pochette-Section{
    display: flex;
    /*border: 1px dotted black;*/
    width: 40%;
    height: 80%;
}

.albumCard-pochette{
    margin: auto;
    position: relative;
    width: 100%;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
}

.albumCard-Info-Section{
    /*border: 1px black dotted;*/
    display: flex;
    flex-direction: column;

    scrollbar-width: thin;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 2.5px;
    width: 55%;
    height: 77%;
}

.albumCard-Info-Section::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.albumCard-Info-Section section{
    /*border: 1px black dotted;*/
    padding-left: 2px;
}

.albumCard-Action-Section{
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: right;

    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.2);
    background: rgba(0,0,100,0.1);

    border-radius: 5px;
    /*border: 1px black dotted;*/
}

.albumCard-Action-Section button{
    height: 80%;
    margin: 5px;
}

/*---GroupCard---*/
.groupCard{
    justify-content: space-evenly;

    margin: 10px;
    padding: 10px;

    min-width: 30em;
    width: 30em;
    height: 15em;
}

.groupCard:hover{
    background-image: linear-gradient(white, rgb(2,170,176));
}

.groupCard-Info-Section{
    /*border: 1px black dotted;*/
    padding: 5px;
    width: 55%;
    height: 77%;
}

.groupCard-Img-Section{
    display: flex;
    /*border: 1px dotted black;*/
    width: 40%;
    height: 80%;
}

.groupCard-Img{
    margin: auto;
    position: relative;
    width: 100%;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
}

.groupCard-Action-Section{
    width: 30%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: right;

    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.2);
    background: rgba(0,0,100,0.1);

    border-radius: 5px;
    /*border: 1px black dotted;*/
}

.groupCard-Action-Section button{
    height: 80%;
    margin: 5px;
}

.groupCard-Genre-Section
{
    padding: 0px 0px 0px 0px;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 15%;

    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.2);
    background: rgba(0,0,100,0.1);

    border-radius: 5px;
}

.groupCard-Genre-Section button{
    margin: 5px;
    max-width: fit-content;
    min-width: 10em;
    min-height: 2em;
    padding: 0px 1px;
}

/*--bigInfo--*/
.bigInfo{
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 10px;

    height: 80%;
    width: 70%;

    background: whitesmoke;

    border-radius: 20px;

    box-shadow: 0px 6px 6px rgba(0,0,0, 0.4);
}

.infoBackground{
    display: none;

    z-index: 105;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    margin: auto;
    padding: 5px;

    height: 100%;
    width: 100%;
}

.infoHeader{
    width: 100%;
    height: 5%;

    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

.infoPochetteContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    width: 35em;
    height: 55em;
    /*border: 1px black dotted;*/

    border-radius: 10px;
    box-shadow: inset 0px 6px 6px rgba(0,0,0,0.4);
    background: #d6d6d6;
}

.infoPochette{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    /*border: 1px black dotted;*/

    justify-content: center;
}

.infoTitre{
    width: 100%;
    height: fit-content;

    margin-top: 10px;

    /*border: 1px black dotted;*/
    text-align: center;

    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

.infoTitre h1{
    font-size: 2.5em;
    display: block;
}

.infoPochette image{
    width: 80%;
    height: auto;
    display: block;
}

.infoContainer{
    padding: 5px;
    height: 50em;
    width: 55em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoLinks{
    width: 100%;
    height: 4em;

    margin-bottom: 5px;

    /*border: 1px black dotted;*/

    border-radius: 10px;
    box-shadow: inset 0px 6px 6px rgba(0,0,0,0.4);
    background: #d6d6d6;
}

.infoPistes{
    width: 100%;
    height: 80%;

    /*border: 1px black dotted;*/

    border-radius: 10px;
    box-shadow: inset 0px 6px 6px rgba(0,0,0,0.4);
    background: #d6d6d6;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow-x:hidden;
    overflow-y: auto;

    padding: 10px;
}

.track{
    min-height: 5em;
    width: 100%;

    margin-bottom: 5px;

    border-radius: 5px;
    background: whitesmoke;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

    padding: 5px;
}

.track-id-section{
    width: 10%;
    height: 100%;
}

.track-title-section{
    width: 75%;
    height: 100%;
}

.track-duration-section{
    width: 10%;
    height: 100%;
}

/*--Top--*/

.topAnchor{
    display: none;
}

/*--Chargement--*/
.loadingCard{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 10px;
    padding: 10px;

    min-width: 30em;
    width: 30em;
    height: 15em;
}


.loadingAnimation{
    height: 100%;
}

.flipPage{
    animation: returnPage 60s infinite linear;
}

.paginationButton{
    display: block;
    margin: 5px;

    min-width: 5em;
}

.paginationHeader{
    /*border: black 1px solid;*/
    color:whitesmoke;
    text-align: center;
    vertical-align: center;
    padding: 1px;
    border-radius: 10px;
    background: #2b2b2b;
    min-width: 40%;
    width: 90%;
    min-height: 10%;
    height: 3em;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    margin:auto;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    overflow-y: hidden;
    overflow-x: auto;
}

@keyframes returnPage {
    from{transform: rotate3d(1,1,1,0deg)}
    to{transform: rotate3d(1,1,1,360deg)}
}

@font-face {
    font-family: clean-sans;
    src: url("../font/coolvetica rg.ttf");
}

@media screen and (max-width: 1330px)
{
    .mainSection{
        margin: 10px auto auto;
        width: 100%;
        min-height: 75%;
        height: fit-content;
        background-color: whitesmoke;
        box-shadow: 0px 6px 6px rgba(0,0,0,0.4);
        border-radius: 5px;
        overflow:hidden;
        padding: 5px;
    }

    .mainHeader{
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        min-width: 50em;
        margin: auto;
        min-height: 10%;
        height: 10em;

        padding: 10px;

        position: sticky;
        top: 0px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
        box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

        backdrop-filter: blur(10px);

        overflow: hidden;
    }

    .albumContent{
        /*border: black 1px solid;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
    }

    .albumCard{
        font-family: clean-sans;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin: 5px;
        padding: 5px;

        width: 30em;
        height: 15em;

        /*border: black 1px solid;*/
        border-radius: 10px;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
        background-image: linear-gradient(white, whitesmoke);
    }
}

@media screen and (max-width: 1030px)
{
    .mainSection{
        margin: 10px auto auto;
        width: 100%;
        min-height: 75%;
        height: fit-content;
        background-color: whitesmoke;
        box-shadow: 0px 6px 6px rgba(0,0,0,0.4);
        border-radius: 5px;
        overflow:hidden;
        padding: 5px;
    }

    .mainHeader{
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        min-width: 50em;
        margin: auto;
        min-height: 10%;
        height: 10em;

        padding: 10px;

        position: sticky;
        top: 0px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
        box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

        backdrop-filter: blur(10px);

        overflow: hidden;
    }

    .albumContent{
        /*border: black 1px solid;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
    }

    .albumCard{
        margin: 5px;
        padding: 5px;

        width: 40em;
        height: 25em;
    }
}