html{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #185a9d, #43cea2) no-repeat fixed;

    overflow-x: hidden;
    overflow-y: auto;
}

body{
    margin: auto;
    width: 100%;
    height: 99%;
}

.mainHeader{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 95%;
    min-width: 50em;
    margin: auto;
    min-height: 10%;
    height: 10em;

    position: sticky;
    top: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    backdrop-filter: blur(10px);

    overflow: hidden;
}

footer{
    height: 12%;
    min-height: 10%;

    margin: 10px auto auto;
    width: 93%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(245,245,245,0.8) 100%);
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    overflow: hidden;
}

.mainSection{
    margin: 10px auto auto;
    width: 70%;
    min-height: 75%;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow:hidden;
    padding: 5px;
}

.researchContent{
    /*border: black 1px solid;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.contentHeader{
    /*border: black 1px solid;*/
    border-radius: 10px;
    background: #2b2b2b;
    min-width: 40%;
    width: 90%;
    min-height: 10%;
    height: 3em;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);

    margin:auto;
    margin-bottom: 5px;
}

/*---Section recherche/navigation---*/

.researchSection{
    /*--Taille--*/
    width: 60%;
    min-width: 30em;
    min-height: 50%;
    max-height: 80%;
    margin: auto;
    padding: 5px;

    /*--border--*/
    /*border: black 1px dotted;*/
    border-radius: 0.5em;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.025);

    overflow: hidden;
}

.transparentFieldSet{
    margin: auto;
    text-align: center;
    border: none;
}

.researchInput{
    margin: auto;

    /*--Position--*/
    position: relative;

    /*--Taille--*/
    min-height: 2.5em;
    height: 2.5em;
    width: 70%;
    min-width: 10em;
    /*--Border--*/

}

.researchSubmit{
    margin: auto;

    /*--Position--*/
    position: relative;

    min-height: 2.5em;
    height: 2.5em;
    width: 10em;
}

.randomSubmit{
    margin: auto;
    position: relative;

    min-height: 2.5em;
    height:2.5em;
    width: 20em;
}

/*---UserSection---*/
.userSection{
    /*border: black 1px dotted;*/
    width: 25em;

    overflow: hidden;
}

/*--LogoSection--*/
.logoSection{
    /*border: black 1px dotted;*/
    width: 25em;

    overflow: hidden;
}

/*---MusicCard--*/
.musicCard{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 10px;
    padding: 10px;

    width: 30em;
    height: 20em;

    /*border: black 1px solid;*/
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    background-image: linear-gradient(white, whitesmoke);
}

.musicCard:hover{
    background-image: linear-gradient(white, rgb(2,170,176));
}

.musicCard-pochette-Section{
    display: flex;
    /*border: 1px dotted black;*/
    width: 40%;
    height: 80%;
}

.musicCard-pochette{
    margin: auto;
    position: relative;
    width: 100%;

    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
}

.musicCard-Info-Section{
    /*border: 1px black dotted;*/
    padding: 5px;
    width: 55%;
    height: 77%;
}

.musicCard-Action-Section{
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: right;

    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.2);
    background: rgba(0,0,100,0.1);

    border-radius: 5px;
    /*border: 1px black dotted;*/
}

.musicCard-Action-Section button{
    height: 80%;
    margin: 5px;
}